@model UpdateViewModel

<h2>Manage User</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="UpdateUser" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input asp-for="Username" class="form-control" readonly />
    <select asp-for="Role" class="form-control">
        <option value="">Select Role</option>
        @if (Model.Roles != null)
        {
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Value" selected="@(role.Value == Model.Role ? "selected" : null)">@role.Text</option>
            }
        }
    </select>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
